{% extends "core/base.html" %}

{% block title %}GitPlayground | Login{% endblock %}

{% block content %}
<section class="auth-wrap">
  <form method="post" class="card auth-card">
    {% csrf_token %}
    <h2>Вход</h2>
    {{ form.non_field_errors }}
    <label>Имя пользователя {{ form.username }}</label>
    {{ form.username.errors }}
    <label>Пароль {{ form.password }}</label>
    {{ form.password.errors }}
    <button class="btn btn-primary full" type="submit">Войти</button>
    <p class="muted"><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    <p class="muted">Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрироваться</a></p>
  </form>
</section>
{% endblock %}
