{% extends "core/base.html" %}
{% block title %}GitPlayground | Новый пароль{% endblock %}
{% block content %}
<section class="auth-wrap">
  <form method="post" class="card auth-card">
    {% csrf_token %}
    <h2>Новый пароль</h2>
    {{ form.non_field_errors }}
    <label>Новый пароль {{ form.new_password1 }}</label>
    {{ form.new_password1.errors }}
    <label>Повторите пароль {{ form.new_password2 }}</label>
    {{ form.new_password2.errors }}
    <button class="btn btn-primary full" type="submit">Сохранить пароль</button>
  </form>
</section>
{% endblock %}
